.language-result-ruby {
  display: none;
}

.language-result-python {
  display: none;
}

.language-result-java {
  display: none;
}

.language-result-circus {
  display: none;
}

.language-result-broke {
  display: none;
}

img {
  width: 100%;
}