@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Geo:ital@1&family=Major+Mono+Display&family=Russo+One&display=swap');

.container {
  background-color: rgb(255, 212, 95);
  border: solid;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.jumbotron {
  border: solid;
}

p {
  font-family: 'Geo';
  font-size: 1.5em;
  margin: 1em;
}

figcaption {
  font-family: 'Geo';
  font-size: 1.2em;
  margin: 0.7em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigfont {
  font-size: 1.3em;
  font-weight: bolder;
}

.rare {
  color: rgb(235, 18, 255);  
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2017/10/09/19/37/circuit-2834562_1280.jpg)
}

form {
  background-color: rgb(245, 153, 157);
  font-family: 'Audiowide';
  padding: 1em;
  margin: 2em;
  border: solid;
}

h1 {
  font-family: 'Russo One';
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
  background-color: rgb(245, 153, 157);
  padding: 0.5em;
  border: solid ;
}

h2 {
  font-family: 'Russo One';
  font-size: 2.5em;
  text-align: center;
  background-color: #e9ecef;
  padding: 0.5em;
  border: solid ;
  margin: 0.5em;
}

h3 {
  font-family: 'Russo One';
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(245, 153, 157);
  padding: 0.5em;
  border: solid ;
  margin: 0.5em;
}

h5 {
  font-family: 'Aldrich';
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}

.language-result-ruby {
  display: none;
}

.language-result-python {
  display: none;
}

.language-result-java {
  display: none;
}

.language-result-circus {
  display: none;
}

.language-result-broke {
  display: none;
}

img {
  width: 100%;
  border-radius: 5%;
  box-sizing: border-box;
  border: solid 5px;
}